# Ignorar carpetas de caché de Python
__pycache__/

# Ignorar todos los archivos
*.pdf
*pptx
*.docx
# Ignorar archivos generados por simulaciones de .asc
*.log
*.tmp
*.bak
*.aux
*.out
*.raw
*.net
*.plt
# Ignorar archivos generados por simulaciones de .asc
*.zip
*.kicad_pro
*.kicad_prl

# No ignorar los archivos .pdf en la carpeta específica
!Datasheets/*.pdf