# Ignorar carpetas de caché de Python
__pycache__/

# Ignorar todos los archivos
*.pdf
*pptx
*.docx
# Ignorar archivos generados por simulaciones de .asc
*.log
*.tmp
*.bak
*.aux
*.out
*.raw
*.net
*.plt
# Ignorar archivos generados por simulaciones de .asc
*.zip
*.kicad_pro
*.kicad_prl

# No ignorar los archivos .pdf en la carpeta específica
!Datasheets/*.pdf

# Archivos temporales y de usuario
*.PrjPCBStructure
*.IntLib
*.SchDocPreview
*.VersionControl
*.Wrk
*.DBLib
*.Dblib

# Logs y archivos de salida generados
*.log
*.out
*.rep
*.err

# Archivos generados automáticamente
*.PcbDocPreview
*.PcbDocPCBPreview
*.SchDocPreview
*.TmpSchDoc
*.TmpPcbDoc
*.CacheLib
*.tmp

# Archivos de simulación
*.ini
*.sim

# Archivos de resultados de fabricación/salida
Project Outputs for */*

# Carpetas comunes de salida
__Previews/
__Compiled/
Project Logs/
History/

# Altium Designer settings (opcionales según el equipo)
*.ProjectLogs
*.Settings